# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_MRIYA_CENTRAL_DONGLE
    def_bool $(shields_list_contains,mriya_central_dongle)

config SHIELD_MRIYA_CENTRAL_LEFT
    def_bool $(shields_list_contains,mriya_central_left)    

config SHIELD_MRIYA_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,mriya_peripheral_left)

config SHIELD_MRIYA_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,mriya_peripheral_right)